<h1>Contact Us</h1>

<div class="table-responsive">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>S.No.</th>
        <th>Name of Officer</th>
        <th>Designation</th>
        <th>Mobile Number</th>
        <th>Email ID</th>
        <th>Fax and Landline Number</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Er. Sudhir Chabra</td>
        <td>Superintending Engineer (OP) Gurgaon</td>
        <td></td>
        <td>sesmarcityggn@gmail.com</td>
        <td></td>
      </tr>
      <tr>
        <td>2</td>
        <td>Er. Anil Kumar Goyal</td>
        <td>Superintending Engineer /Smart City Project Gurgaon</td>
        <td>+918221006861</td>
        <td>sesmarcityggn@gmail.com</td>
        <td>+91124-2450144</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Er. Vinod Punia</td>
        <td>Executive Engineer/Smart City Project Gurgaon</td>
        <td>+917840087602</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>4</td>
        <td>Er. Jaideep Phogat</td>
        <td>Executive Engineer /Smart City Project Gurgaon</td>
        <td>+919812452524</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>5</td>
        <td>Er. Rajesh Nandal</td>
        <td>Assistant Engineer/Smart City Project Gurgaon</td>
        <td>+917840087604</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>6</td>
        <td>Er. Harsh Kumar</td>
        <td>Assistant Engineer/Smart City Project Gurgaon</td>
        <td>+917840087601</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>7</td>
        <td>Er. Vikas Malik</td>
        <td>Assistant Engineer/Smart City Project Gurgaon</td>
        <td>+917840087603</td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>


