<h2>News related to Smart Grid Gurgaon</h2>
<ul>
  <li>On 29th April 2015, Hon’ble Union Minister of State (Independent Charge) for

Power, Coal and New & Renewable Energy co-chaired a meeting with the 

Hon’ble Chief Minister Haryana at Power Grid (PGCIL) Gurgaon wherein it was 

decided to take all necessary steps to improve power situation in Gurgaon 

primarily with the two objectives in mind to start with i.e. to provide 24x7 

uninterrupted electricity to all the consumers, to make Gurgaon a Diesel 

Generator free city within next one year and subsequently scaling up the 

infrastructure to make it a Smart City</li>

<li>
  A presentation in this regard was made before the Hon’ble Chief Minister

  Haryana on 9th June 2015 at New Delhi wherein the cost of Smart Grid project 

  was estimated at around Rs. 10000 crores.
</li>
<li>
  A meeting was again held on 08.10.2015 at Shram Shakti Bhawan, New Delhi

  co-chaired by Hon’ble Chief Minister Haryana and the Hon’ble MoS (IC) Power, 

  Coal and Renewable Energy Departments, GoI to deliberate upon the issue of 

  setting up of a smart grid in Gurgaon and making it an iconic city for rest of the 

  country to follow
</li>
<li>
  Meeting was held on 15th October 2015 under the chairmanship of Additional

  Chief Secretary to Government of Haryana , Power Department-cum-Chairman , 

  Haryana Power Utilities to assess the preparedness of DHBVN and HVPN to 

  take up smart Grid Project of Gurgaon
  <a href="https://www.dropbox.com/s/1zstu9g9d8tiefq/MOM%20%20-%20Smart%20City%20-%2015.10.15%20-%20ACS%20Power.doc?dl=0">MOM  - Smart City - 15.10.15 - ACS Power</a>
</li>
<li>
  Meeting held on 29.10.2015 under the chairmanship of Additional Chief Secretary

  to Government of Haryana, Power Department-cum-Chairman, Haryana Power 

  Utilities to discuss the issues Town & Country Planning and the Smart grid 

  Project of Gurgaon
  <a href="https://www.dropbox.com/s/1m8p7sewszahgbh/MOM%20-%2029th%20October%20-%20ACS%20Power%20-%20Chandigarh.doc?dl=1">MOM - 29th October - ACS Power - Chandigarh</a>
</li>
</ul>