<h2>News articles related to Smart Grid Gurgaon</h2>
<ul>
  <li><a href="http://www.hindustantimes.com/gurgaon/smart-grid-project-to-soon-make-gurgaon-a-power-cut-free-city/story-8GFn7uudKHTyKGapoy9xUI.html">Hindustan Times</a></li>
  <li><a href="http://timesofindia.indiatimes.com/city/gurgaon/Gurgaon-to-host-model-grid-for-zero-outage/articleshow/47102738.cms">Times of India</a></li>
  <li><a href="http://articles.economictimes.indiatimes.com/2015-04-29/news/61652732_1_power-grid-corporation-smart-grid-power-supply">Economic Times</a></li>
</ul>