<h3>Pre Bid Conference held under the Chairmanship of worthy Managing Director

DHBVN on 2nd December 2015 at City Club DLF Phase 5 Gurgaon</h3>
<div>A pre-bid conference was held on 2.12.2015 at DLF phase V club, Gurgaon under the 

chairmanship of worthy Managing Director DHBVN to have an open house discussion 

with various stake holders i.e. EPC Contractors, OEMs and other service providers 

regarding implementation of Smart Grid Concepts in Gurgaon. Meeting was attended 

by ADC Gurgaon who has been nominated as Special Officer, Er. M.V.K. Rao Advisor 

Smart Grid Project, Officers from Power Grid, Consultant of Smart Grid Project and 

officers of DHBVN, HVPN and representative of World Bank. The meeting was 

attended by 73 delegates from 38 companies, Representatives of World Bank and 

PGCIL</div>