<ul>
  <li>
    <a href="https://www.dropbox.com/s/df9lej55uutwcvr/tender.zip?dl=1">Request for conducting the land/field surveys photogrammetry through GPR/GIS and office work required to compile a TOPOGRAPHIC/ UNDERGROUND map of property(s) identified in tender documents to generate requisite information for design and field engineering activities for the area pertaining to DLF sub-division of Gurgaon circle under the jurisdiction of DHBVN on turnkey basis in Haryana State against tender enquiry no. TSGP-01/ 2016-17</a>
  </li>
</ul>