<div class="col-md-10 col-md-offset-1">
  <img src="https://s3-ap-southeast-1.amazonaws.com/smartgridggn/Under_construction.png" style="width:100%" alt="Under Construction">
</div>

<h2 class="text-center col-md-12">This part of the website in under construction. Sorry for inconvenience.</h2>