<h1 class="text-center">Board of Directors of DHBVN</h1>

<div class="table-responsive">
  <table class="table table-hover table-striped">
     <tbody>
        <tr>
           <th width="25"> S/N</th>
           <th width="215"> Name</th>
           <th width="438"> Prime Designation</th>
           <th width="139"> Designation on BOD</th>
        </tr>
        <tr>
           <td width="25"> 1</td>
           <td width="215"> Sh. Rajan Kumar Gupta, I.A.S.</td>
           <td width="438"> Additional Chief Secretary (Power) to Govt. of Haryana &amp; Chairman HPUs.</td>
           <td width="139"> Chairman</td>
        </tr>
        <tr>
           <td width="25"> 2</td>
           <td width="215"> Sh. Arun Kumar Verma</td>
           <td width="438"> Managing Director, DHBVN</td>
           <td width="139"> Managing Director</td>
        </tr>
        <tr>
           <td width="25"> 3.</td>
           <td width="215"> Sh.Nitin Kumar Yadav, I.A.S.</td>
           <td width="438"> Managing Director, UHBVN</td>
           <td width="139"> Director</td>
        </tr>
        <tr>
           <td width="25"> 4</td>
           <td width="215"> Sh. Vijay Singh Dahiya, I.A.S.</td>
           <td width="438"> Special Secretary, Finance Govt. of Haryana,&nbsp;HPUs</td>
           <td width="139"> Director</td>
        </tr>
        <tr>
           <td width="25"> 5</td>
           <td width="215">Smt. Ashima Brar, I.A.S.</td>
           <td width="438">Managing Director, HVPNL </td>
           <td width="139">Director</td>
        </tr>
        <tr>
           <td width="25"> 6</td>
           <td width="215"> Sh. Suresh Kumar Bansal</td>
           <td width="438"> Director Projects</td>
           <td width="139"> Director</td>
        </tr>
        <tr>
           <td width="25"> 7</td>
           <td width="215"> Sh. Ravinder Kumar Batra</td>
           <td width="438"> Director Operations</td>
           <td width="139">
              <p> Director</p>
           </td>
        </tr>
        <tr>
           <td width="25"> 8</td>
           <td width="215"> Sh. M. K. V. Rama Rao</td>
           <td width="438"> Managing Director, HPGCL</td>
           <td width="139"> Director</td>
        </tr>
        <tr>
           <td width="25"> 9</td>
           <td width="215"> Sh. Rajendra Prasad Sasmal</td>
           <td width="438"> Part Time Director-Independent</td>
           <td width="139"> Director-Independent</td>
        </tr>
        <tr>
           <td width="25"> 10</td>
           <td width="215"> Sh. Kalyan Kumar Ghosh</td>
           <td width="438"> Part Time Director-Independent</td>
           <td width="139"> Director-Independent</td>
        </tr>
        <tr>
           <td width="25"> 11</td>
           <td width="215"> Ms. Sanghamitra Pyne</td>
           <td width="438"> Part Time Director-Independent</td>
           <td width="139"> Director-Independent</td>
        </tr>
        <tr>
           <td width="25">12</td>
           <td width="215"> Sh. Anil Gupta</td>
           <td width="438"> Part Time Director-Independent</td>
           <td width="139"> Director-Independent</td>
        </tr>
        <tr>
           <td colspan="4" style="text-align: center"> <strong>COMPANY SECRETARY</strong></td>
        </tr>
        <tr>
           <td width="25"> 1.</td>
           <td width="215"> Sh. Harjinder Singh</td>
           <td width="438"> Company Secretary DHBVN</td>
           <td width="139"> Company Secretary</td>
        </tr>
        <tr>
           <td width="25">&nbsp; </td>
           <td width="215">&nbsp; </td>
           <td width="438">&nbsp; </td>
           <td width="139">&nbsp; </td>
        </tr>
        <tr>
           <td colspan="4" style="text-align: center"> <strong>AUDIT COMMITTEE</strong></td>
        </tr>
        <tr>
           <td width="25"> 1.</td>
           <td width="215"> Sh. M. K. V. Rama Rao</td>
           <td width="438">Managing Director, HPGCL </td>
           <td width="139"> Chairman</td>
        </tr>
        <tr>
           <td width="25"> 2</td>
           <td width="215"> Sh. Kalyan Kumar Ghosh</td>
           <td width="438"> Director/Independent</td>
           <td width="139"> Member</td>
        </tr>
        <tr>
           <td width="25"> 3</td>
           <td width="215"> Ms. Sanghamitra Pyne</td>
           <td width="438"> Director/Independent<span style="display: none">&nbsp;</span></td>
           <td width="139"> Member</td>
        </tr>
        <tr>
           <td height="10" width="25">&nbsp; </td>
           <td width="215">&nbsp;</td>
           <td width="438">&nbsp;</td>
           <td width="139">&nbsp;</td>
        </tr>
        <tr>
           <td colspan="4" style="text-align: center"> <strong>SECRETARY TO THE AUDIT COMMITTEE</strong></td>
        </tr>
        <tr>
           <td width="25"> 1</td>
           <td width="215"> Sh. Harjinder Singh</td>
           <td width="438"> Company Secretary DHBVN</td>
           <td width="139"> Secretary</td>
        </tr>
        <tr>
           <td colspan="4" style="text-align: center">&nbsp; </td>
        </tr>
     </tbody>
  </table>
</div>

