<h3>What is an Energy Meter?</h3>
<div> Energy meter is a device to measure the consumption of energy by the consumer.</div>
<h3>How accuracy of the meter is defined?</h3>
<div>
   <p> As per IS 137779/ IEC61036/ ID13010 accuracy of the meter is defined by comparing the difference of energy consumption recorded by "Meter under test" and of "Reference Meter" with the energy consumption recorded by a reference meter.</p>
   Accuracy (%) = (EMUT - ERef) x 100 (E Ref) 
   <p> The accuracy of both Mechanical and Electronic meter is defined by above equation.</p>
</div>
<h3>Which is more accurate- mechanical meter or electronic meter?</h3>
<div> Electronic meters are more accurate than mechanical meter. The best mechanical meter can have an accuracy of 0.5% whereas electronic meter are available upto accuracy of 0.005%. Almost all meters for industrial, grid, transformers and for bulk consumers are electronic meter.</div>
<h3>How the meters are classified and what are the relevant technologies?</h3>
<div>
   Meters are classified as following:-<br> Household single phase meter - Mechanical/ Electronic meter 
   <ul>
      <li> a. Household three phase meter - Mechanical/ Electronic meter</li>
      <li> b. Commercial Meter - Electronic meter</li>
      <li> c. Industrial Meter - Electronic meter</li>
      <li> d. HT Meter - Electronic meter</li>
      <li> e. Grid Meter - Electronic meter</li>
      <li> f. Reference Meter - Electronic meter</li>
   </ul>
</div>
<h3>What is the meaning of fast meter?</h3>
<div> In general if a meter is found recording more energy in comparison to other meter, it is called as fast meter. This comparison is quite misleading. As defined earlier a meter with positive accuracy error only should be called as fast meter</div>
<h3>Why electronic meter are considered as fast meter?</h3>
<div>
   If two meters are accurate, than under the recommended reference conditions they will record same irrespective of the technology. However, due to following parameters it is observed that mechanical meter record less consumption:- 
   <ul>
      <li> a. High Starting current</li>
      <li> b. Narrow Current range</li>
      <li> c. Installation method</li>
      <li> d. Aging process</li>
   </ul>
</div>
<h3>What are the various ratings of meter and how they are defined?</h3>
<div>
   Various ratings of meter are as following:- 
   <table>
      <tbody>
         <tr>
            <td> S.No.</td>
            <td> Ratings</td>
            <td> Range*</td>
         </tr>
         <tr>
            <td> 1.</td>
            <td> 2.5-5A (Mechanical)</td>
            <td> 25mA-5Amp</td>
         </tr>
         <tr>
            <td> 2</td>
            <td> 5A-10A (Mechanical)</td>
            <td> 50mA-10Amp</td>
         </tr>
         <tr>
            <td> 3</td>
            <td> 5A-20A (Mechanical)</td>
            <td> 50mA-20A</td>
         </tr>
         <tr>
            <td> 4</td>
            <td> 10-40A (Mechanical)</td>
            <td> 100mA-40A</td>
         </tr>
         <tr>
            <td> 5</td>
            <td> 10-60A (Electronic)</td>
            <td> 20mA-60A</td>
         </tr>
      </tbody>
   </table>
</div>
<h3>What is the effect of parameter "starting current" on energy consumption?</h3>
<div> Since mechanical meter required an initial torque to start so mechanical meter do not record low consumption. Thus, the load with low consumption remains unrecorded. With electronic meter even low load can be recorded and thus, consumer feels that electronic meters are fast.</div>
<h3>What is the effect of "current range" parameter on energy consumption?</h3>
<div> Current range of meter is the working range over which the meter records the energy correctly. In general, the current range of mechanical meter is much narrow than electronic meter. If the load of the consumer is beyond the range of meter than the excess load remain unrecorded. Since, electronic meter has a wide current range so chances of consumer drawing the load beyond the permissible range are negligible and thus it records the actual power consumption. It is widely observed that consumers having decades old mechanical meters, presently having connected load far more than sanctioned load (and thus far beyond the current range of meter) are thus paying very low electricity charges as meter is not able to record the correct consumption. This is inspite of the fact that the meters are accurate.</div>
<h3>What is the effect of installation parameter on energy recording?</h3>
<div> In mechanical meter torque generated due to power consumption rotate the rotatory system which is balanced on accurate but sensitive bearings. In case the meter is installed with a tilt either sideway or front/ back way than it affects the energy recording and which will be always lower than actual. This is one of the biggest drawback of mechanical meter. With electronic meter, since there is no moving part so the accuracy of same is independent of installation.</div>
<h3>What is the effect of aging of energy consumption recording?</h3>
<div> Since the mechanical meters have moving parts, so with use these have the tendency of wear and tear resulting in low energy consumption. Same is not applicable for electronic meter as it is a static device.</div>
<h3>Meters accuracy are defined at reference conditions. However, in field voltage, Frequency and Temperature are different. What is the effect of the same?</h3>
<div> The permissible effect of field voltage, frequency and temperature on accuracy is defined in IS/ CBIP/ IEC standards. The energy meter in India, in general follows these standards. Although, there is an influence of the above parameters but the same is not highly significant.</div>
<h3>Can the accuracy of meter be altered in field?</h3>
<div> All service companies prefer to buy those meters in which the accuracy of the meters cannot be altered in the field. If the meter accuracy can be altered in the field by the service company than same can be altered by the consumer also. Service companies cannot take risk with such type of meters and thus only buy the meters which are welded and cannot be altered in the field.</div>
<h3>What are the responsibilities of ISI license holder?</h3>
<div> After evaluating the product and the manufacturing capabilities, the Bureau of Indian Standard (BIS) issue the ISI license to the manufacturer. Meter manufacturer has to ensure all meters strictly follow the relevant IS and also test records of the same are maintained. The mis-concept that the service company can ask manufacturer to make meters with very high positive error (fast meter) is not possible as if it is found so, the ISI license of the manufacturer can be withdrawn by BIS.</div>
<h3>What is the Maximum Demand Indicator (MDI)? What is its significance for consumer?</h3>
<div>
   Maximum Demand Indicator is an indication about the maximum load used by the consumer for the duration of half-an-hour in the given period. This parameter is significant both for consumer and the service company to decide the sanctioned load and also to plan the network capacity. 
   <p> Kindly note ¿ Exceeding the sanctioned load attracts the penalty.</p>
</div>
<h3>What is the meaning of down loading of parameter?</h3>
<div> Various parameters measured and recorded by the instrument are finally downloaded for billing/ monitoring purpose. The downloading of parameter means transferring the parameters from meter to the records of the service company. Downloading can be manual i.e . by reading the LCD display recording on a notebook or using some gadgets.</div>
<h3>What is the meaning of MRI reading?</h3>
<div> The gadget used for downloading of is called Meter Reading Instrument (MRI). The biggest advantage of MRI reading is that it avoids human error in recording/ transfer of data.</div>
<h3>What is AMR system?</h3>
<div> Downloading of the parameters using electronic gadgets which are attached to the meter without manual intervention is called Automatic Meter Reading (AMR) system. The gadget attached to the meter downloads the parameter and than automatically communicate to the computer of the service company.</div>
<h3>What is the EL LED? When it glows?</h3>
<div> EL LED is an indication for unequal current flowing through phase and neutral. This mis-match can be either due to shortening of neural to earth/ leakage of current to earth/ the wire of two premises are touching each other.</div>
<h3>What action consumer should take if EL- LED glows?</h3>
<div> In case the EL.- LED found glowing, the consumer should get his wiring checked for the above mentioned defects</div>
<h3>What is the significance of REV LED?</h3>
<div> REV LED indicates the reverse flow of energy from consumer to the grid.</div>
<h3>What action consumer should take if REV LED glows?</h3>
<div>
   In case REV LED is glowing than the consumer should ensure that generator/ inverter shall be totally isolated with the grid. Ever after that REV LED is found ON the consumer should call the service company for the check. 
   <p> Kindly note glow of REV LED does not affect the accuracy of energy meters. Some time "REV" LED glows at "no load" condition and shall be ignored.</p>
</div>
<h3>What is the role of "N cut" and what action consumer should take?</h3>
<div> LED "N cut" (which is provided in few meters) indicates about loosening of wire at the meter end. In case consumer finds such LED glowing he should call the service company for retightening of all the wires in the meter to ensure proper supply to meter.</div>