<h1>Excellence in power distribution</h1>

<h3>The DHBVN rededicates it to serve masses by extending reliable, quality, uninterrupted, safe and clean power to consumers at affordable tariff to boost agricultural, industrial and economic development in Haryana</h3>
<ul>
  <li>Augmentation, renovation and modernisation of existing distribution system</li>
  <li>Expansion of distribution net work</li>
  <li>Preventive maintenance of distribution system</li>
</ul>

<h3>The DHBVN is determined to bring down line losses</h3>
<ul>
<li>Segregation and rehabilitation of all lengthier and overloaded feeders</li>
<li>Setting up additional pole mounted substations</li>
<li>Construction of additional 33 KV grid substations and augmentation of capacity of existing substations</li>
<li>Providing dedicated/independent transformers to farmers</li>
<li>Introducing High Voltage Distribution System (HVDS) and improve HT/LT ratio</li>
<li>Strengthening energy audit system</li>
<li>Cent per cent metering, including metering of tubewell connections</li>
<li>Shifting of meters to out side consumers' premises</li>
<li>Abating theft/pilferage and misuse of electricity with the involvement of public</li>
<li>Stringent punitive action against unscrupulous people committing theft of power</li>
</ul>

<h3>Improvement in collection efficiency will be the base of consistently achieving high growth and financial viability.</h3>
<ul>
  <li>Minimising the live arrears</li>
  <li>Reduction in permanent default arrears</li>
  <li>Zero tolerance for non-payment of bills (Timely and proper disconnection on default)</li> 
  <li>Cent per cent billing on the basis of actual meter reading and elimination of average billing</li>
  <li>Use of spot billing and other special billing and collection techniques</li>
  <li>To ensure timely distribution of bills</li>
  <li>Expansion and popularising cash collection through banks and post offices</li>
  <li>Cash collection by Ex-servicemen in rural area</li>
  <li>Introduction of prepaid metering system</li>
  <li>Better service in areas of good payer consumers</li>
</ul>

<h3>The DHBVN commits to honesty, integrity and transparency in actions to achieve higher level of consumer satisfaction</h3>

<ul>
  <li>Haryana Electricity Regulatory Commission's (HERC's) standards of performance is to be citizens' charter.</li>
  <li>Connections to be released on demand.</li>
  <li>To set up customer care centers to give single window facility to consumers.</li>
  <li>Expansion of computerised complaint handling system through Bijli Suvidha Kendras (BSKs) upto village level.</li>
  <li>Use of Ex-servicemen power to improve consumer service.</li>
  <li>To evolve better consumer dealing and complaint handling system at sub-divisional level.</li>
  <li>To create consumer friendly environment at sub-divisional offices and complaint centres.</li>
  <li>To start mobile complaint handling system.</li>
  <li>Out sourcing of consumer complaint handling.</li>
</ul>

<h3>The DHBVN perpetrates to encourage and support energy savings activities and demand side management optimizing the use of electricity</h3>
<ul>
  <li>Separating urban and rural load.</li>
  <li>Segregation of agriculture and rural domestic load.</li>
  <li>Providing independent feeders to industries.</li>
  <li>Reactive power management through capacitor installation.</li>
  <li>Encouraging diversification from water guzzling crops to lesser water consuming crops.</li>
  <li>Bringing on DHBVN books the total connected load.</li>
  <li>To promote use of standard quality electricity gadgets and machines.</li>
  <li>To educate consumers on conservation of electricity.</li>
  <li>To promote remodeling and modernisation of pump-sets.</li>
</ul>

<h3>The DHBVN promises modernisation of management to bring about cost effectiveness and efficiency in functioning.</h3>
<ul>
  <li>Evolving participatory management to enable workers and managers discuss vital issues together and work hand in hand towards common goals.</li>
  <li>Persistent drive for increase in revenue and reduction in costs.</li>
  <li>To encourage ideas, talent and value system.</li>
  <li>To promote a work culture that fosters individual growth, team spirit and creativity to overcome challenges and attain goals.</li>
  <li>Circles to act as profit centres; buy the power they require, pay for it and meet their expanses through their own income.</li>
</ul>

<h3>The DHBVN realizes inherent potential in new technology, particularly information technology, for improving efficiency, accounting, information level and consumer satisfaction.</h3>
<ul>
  <li>Bijli Suvidha Kendras (Call Centres) having connected rural areas also.</li>
  <li>Web based availability of each and every information (Information publishing).</li>
  <li>Information facilitation counters/ consumer helpline centres at sub-divisional level.</li>
  <li>Web based database publishing.</li>
  <li>Development of IT within the organisation.</li>
  <li>Lesser paper office.</li>
  <li>Connectivity of workforce to Internet and encouraging usage of I.T. tools right down to their home level also.</li>
  <li>E-billing and on line payment, ATM type cash collection centres.</li>
  <li>Providing means of communication of latest technology to maximum number of employees.</li>
  <li>E - tendering.</li>
  <li>Net work mapping.</li>
  <li>Data logging.</li>
  <li>Remote meter reading.</li>
  <li>Electricity distribution automation.</li>
</ul>