<h1 class="text-center">No of posts Assigned</h1>
<div class="table-responsive">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Sr. No.</th>
        <th>Name of Posts</th>
        <th>No. of Posts.</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1.</td>
        <td>Chief Engineer</td>
        <td>1</td>
      </tr>
      <tr>
        <td>2.</td>
        <td>Superintending Engineers</td>
        <td>2</td>
      </tr>
      <tr>
        <td>3.</td>
        <td>Executive Engineers</td>
        <td>5</td>
      </tr>
      <tr>
        <td>4.</td>
        <td>SDOs</td>
        <td>8</td>
      </tr>
      <tr>
        <td>5.</td>
        <td>Dy. Supdt. O/o CE</td>
        <td>1</td>
      </tr>
      <tr>
        <td>6.</td>
        <td>Circle Supdt. O/o SE</td>
        <td>2</td>
      </tr>
      <tr>
        <td>7.</td>
        <td>Accountant O/o XEN</td>
        <td>2</td>
      </tr>
      <tr>
        <td>8.</td>
        <td>Assistant with CE & SE</td>
        <td>3</td>
      </tr>
      <tr>
        <td>9.</td>
        <td>JEs</td>
        <td>16</td>
      </tr>
      <tr>
        <td>10.</td>
        <td>PA O/o CE</td>
        <td>1</td>
      </tr>
      <tr>
        <td>11.</td>
        <td>Senior Scale Stenographer O/o SE</td>
        <td>2</td>
      </tr>
      <tr>
        <td>12.</td>
        <td>Junior Scale Stenographer O/o XEN</td>
        <td>4</td>
      </tr>
      <tr>
        <td>13.</td>
        <td>UDC</td>
        <td>3</td>
      </tr>
      <tr>
        <td>14.</td>
        <td>LDC</td>
        <td>9</td>
      </tr>
    </tbody>
  </table>
</div>



