<h2>DHBVN Vision</h2>
<p>The Dakshin Haryana Bijli Vitran Nigam (DHBVN) is committed to set new benchmarks in standards of corporate performance through the pursuit of opertional and financial excellence. It aspires to be the best distribution utilitiy in India by enhancing its technological leadership and consumer satisfaction.</p>

<h2>DHBVN Values</h2>
<p>The DHBVN and its employees affirm and commit themselves to dedication to duty, integrity and honesty, transparency in work, cost consciousness, openness to suggestions and feedback from all stake holders and consumers. We are connected to consumers by more than electricity lines and believe in leading by example in consumer satisfaction. We are proud being creators of base for over all development of Haryana and India.</p>

<h2>DHBVN Employee Ethics</h2>
<p>At DHBVN we live and work by a system of shared values intended to guide our interactions with consumers and work for development of the State and the Nation. These Values are:-</p>

<p>Our values are very simple. We believe that there is only one way to earn better place: to work with fairness, honesty and integrity. These values will earn a nationwide reputation for us as responsible and respected 'Bijliwalas'.</p>


<p>That reputation can be earned through the actions of the team of thousands of employees every day. But that can be tarnished by a single isolated incident. At DHBVN, as a company and as individuals, we must have integrity if we are to be successful.</p>


<p>If you notice any activity that is not in compliance with the DHBVN values, policies or violates the code of integrity, we ask you to report these activities. Our reputation depends on it.</p>