<div class="page-header">
  <h1>Smart Grid Gurgaon</h1>
  <small> An initiative by DHBVN (Govt. of Haryana Undertaking), Power Department Haryana and Ministry of Power Government of India</small>
</div>

<%
images = [{
  url: '//s3-ap-southeast-1.amazonaws.com/smartgridggn/home-carousel-images/1.jpg'
},
{
  url: '//s3-ap-southeast-1.amazonaws.com/smartgridggn/home-carousel-images/2.jpg'
},
{
  url: '//s3-ap-southeast-1.amazonaws.com/smartgridggn/home-carousel-images/3.jpg'
}]
%>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">Latest News</div>
      <div class="panel-body">
        <a href="//s3-ap-southeast-1.amazonaws.com/smartgridgurgaon/documents/Pre-Bid+Conference+on+Smart+Grid+Project+Gurgaon.doc"><span class="fa fa-star text-danger"></span> &nbsp;Pre-Bid Conference on Smart Grid Project Gurgaon</a>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <p>Gurgaon is one of Delhi's four major satellite cities and is part of the National Capital Region with a total area of 1253 km². The demography of the city provides a gateway for access of various other cities of Northern region. Due to its proximity of Delhi & International Airport, rapid urbanization has taken place in Gurgaon in recent years and Gurgaon has become a leading cosmopolitan city of the world. Gurgaon is also an industrial and financial hub of the country with one of the highest per capita income in India. Per capita consumption of Gurgaon of about 4000 kwh which is expected to increase to up to 6400 kwh by 2022. The city is within commuting distance of Delhi via an expressway and Delhi Metro, which has made it leading destination for IT hubs, BPOs and other industries.</p>

    <p>It is for quite some time now that the concept of developing Gurgaon as a Smart City has been under discussion at the highest levels in the government, State as well as the Union. On 29th April 2015, Hon’ble Union Minister of State (Independent Charge) for Power, Coal and New & Renewable Energy co-chaired a meeting with the Hon’ble Chief Minister Haryana at Power Grid (PGCIL) Gurgaon wherein it was decided to take all necessary steps to improve power situation in Gurgaon primarily with the two objectives in mind to start with i.e. to provide 24x7 uninterrupted electricity to all the consumers, to make Gurgaon a Diesel Generator free city within next one year and subsequently scaling up the infrastructure to make it a Smart City</p>
  </div>


  <div class="col-md-4">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <% images.each_with_index do |image, i| %>
        <div class="item <%= i == 0 ? 'active' : '' %>">
          <img src="<%= image[:url] %>" alt="<%= image[:caption] %>">
        </div>
        <% end %>
      </div>

      <!-- Controls -->
      <!-- <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a> -->
    </div>
  </div>
</div>


