<footer class="well">
  <div class="container">
    <div class="col-md-12">
      <div class="copyright text-center">© 2013 Copyright DHBVN. All Rights Reserved.</div>
      <div class="footer-links text-center">
        <a href="#">Privacy</a>
        <a href="#">Disclaimer</a>
        <a href="<%= dhbvn_faq_path %>">Help & FAQS</a>
        <a href="#">Sitemap</a>
        <a href="#top">Back To Top</a>
      </div>
    </div>
  </div>
</footer>