<ul class="no-list-style">
  <%= render partial: 'shared/smart_grid_links' %>
</ul>
<h1>Existing Electrical Infrastructure of Gurgaon</h1>
<p>Main features of existing electrical Infrastructure of Gurgaon are detailed below:</p>

<ul>
  <li>Electrical network of Gurgaon is Radial network ie 11 KV feeders are

  emanating radially from a centrally located 220/66 KV Substation.However, these 

  11 KV feeders are not connected in a ring main system due to which back 

  feeding of an area under outage is not possible in most of cases.</li>

  <li>As per existing policy of DHBVN, a consumer can opt for single point supply on 

  66KV/33KV/11KV feeder.However, due to the commercial constraint of billing of 

  consumer from Substation end, it is not possible to back feed the load of 

  consumer in case of a fault in main feeder of consumer.</li>

  <li>At present, because of a large number of Independent feeders, right of way is 

  not available for erection of new feeder.</li>

  <li>Because of erection of multiple feeders on single pole due to right of way 

  problem, permit to work is required on multiple feeders for repair of faulty 

  portion.It leads to unnecessary loss of sale of power and reduces reliability of 

  supply.</li>

  <li>In case of fault in a distribution transformer,there is no provision for back 

  feeding Low voltage network on secondary side of a distribution transformer.</li>

  <li>Process of identification, isolation and back feeding of faulty portion of a 

  feeder is manual.It leads to long outage duration and reduces reliability of 

  power supply</li>
</ul>
