<ul class="no-list-style">
  <%= render partial: 'shared/smart_grid_links' %>
</ul>

<h1>Main features of the Smart Grid project</h1>
<ul>
  <li>Switch over from present 11 kV system to 33 kV level wherever possible.It is 

  required to tackle the issue of right of way for laying of electrical 

  network,Load carrying capacity of a 33 KV network is thrice that of a 11 KV 

  network. A sort of site specific hybrid system of 33 kV and 11 kV will be 

  planned to cater to present as well as future load growths</li>

  <li>Switch over from overhead HT and LT system to underground system by 

  laying cables through trenchless boring or otherwise by simple digging, as 

  the case may be. Where the laying of underground cables will not be 

  possible, an overhead system on mono-poles will be erected.</li>

  <li>100% redundancy level will be created at the distribution level whereas N-1 

  level redundancy will be created at the transmission level and substations.N-

  1 level redundancy at Substation level will ensure availability of spare 

  transformation capacity at Sstn level to meet out exigency of  failure of one of 

  substation/Power transformer of Substation</li>

  <li>Supervisory Control and Data Acquisition (SCADA) system will be 

  implemented.It will ensure remote identification, isolation and back feeding of 

  a faulty portion in addition to various other benefits in electrical network 

  supervision and control.</li>

  <li>Advanced Metering Infrastructure (AMI) will be implemented.It will help in 

  Demand side management, Peak load management, outage management, 

  generation of real time based MIS, elimination of manual process of 

  collection of readings from fields leading to loss of manpower and billing 

  errors</li>

  <li>Remote Terminal Units (RTUs) and Ring Main Units (RMUs) will be installed 

  on different sections to ensure uninterrupted power supply.These will help in 

  prompt supply restoration, when implemented with SCADA.</li>

  <li>Operation staff will be equipped with latest state-of-art maintenance 

  equipment to carry out inspections</li>

  <li>After laying of the new up-graded system with 100% redundancy, complete 

  system will be operated and maintained by DHBVN staff</li>

  <li>Implementation and integration of following software applications with 

  SCADA and AMI:
  <ul>
    <li>OMS - Outage management system.</li>

    <li>PMS – Peak Load Management System.</li>

    <li>DSM – Demand Side Management</li>

    <li>Distributed Generation.</li>
  </ul>
  </li>
</ul>
