<ul class="no-list-style">
  <%= render partial: 'shared/smart_grid_links' %>
</ul>
<h1>Need for establishment of Smart Grid</h1>
<p>Existing electrical infrastructure is less reliable, prone to long outages, unable to

upgrade as per future load requirements of Millennium city due to constraints of 

transmission substation capacities, right of way problems.Present system is also 

unable to ensure other activities such as Peak load management, Demand side 

management, outage  management, distributed generation etc.</p>
