<ul class="no-list-style">
  <%= render partial: 'shared/smart_grid_links' %>
</ul>

<h1>Phases of Smart Grid</h1>
<ul>
  <li>To take up Gurgaon town and Industrial Area of Manesar together in one go

would be extremely difficult not only in terms of execution on the ground but also 

in terms of arrangement of funds to finance it.</li>
  <li>
    For the ease of execution, proposal of power Department Haryana to break up

    the project in smaller parts was considered an appropriate approach, which was 

    as under:
    <ul>
      <li>Part I: Sectors 1 – 57, which is almost fully occupied and we know it as

      present day Gurgaon. This part we shall need to take up first.</li>
      <li>
        Part II: Sectors 58 to 115, which is still vacant, land with some small

        constructions coming up here and there. This part can wait and the work 

        here will be taken up subsequently in next few years.
      </li>
      <li>
        Part III: IMT Manesar area which does not experience much of the electricity

        problems as on date and will be taken up at a later date.
      </li>
      <li>
        The load projections on which the work will be planned will be up to 2030-31
      </li>
      <li>
        The total cost estimations of the project, though assessed at around Rs.

        12000 crores for all the three parts, would be around Rs. 7000 crores for Part 

        I which will might come down to around Rs. 6000 crores once the actual 

        ground work is taken up in hand and actual bill of material and labour cost is 

        arrived at.
      </li>
    </ul>
  </li>
  <li>
    Part I will be further sub-divided in four (4) phases as under:
    <ul>
      <li>
        Phase I: Jurisdictional area of DLF Operation Subdivision of DHBVN, which

        lies on left side of Delhi-Jaipur Highway after crossing the toll plaza and 

        going up to IFFCO chowk
      </li>
      <li>
        Phase II: Jurisdictional areas of South City and Sohna Road Subdivisions of

        DHBVN, which lie on the left side of Delhi-Jaipur highway from IFFCO chowk 

        to almost Kherki Daula toll plaza
      </li>
      <li>
        Phase III: Jurisdictional areas of Maruti and IDC subdivisions of DHBVN,

        which lie on the right side of Delhi-Jaipur highway from toll plaza to Jharsa 

        chowk covering mainly Udyog Vihar and the old city area including Sadar 

        Baazar etc.
      </li>
      <li>Phase IV: Jurisdictional areas of Kadipur, New Colony and New Palam Vihar S/Ds of

      DHBVN covering rest of the areas under sectors 1-57.</li>
    </ul>
  </li>
  
</ul>
