<ul class="no-list-style">
  <%= render partial: 'shared/smart_grid_links' %>
</ul>

<h1>What is Smart Grid?</h1>
<p>A common element to most definitions is the application of digital processing and communications to the power grid, making data flow and information management central to the smart grid. Various capabilities result from the deeply integrated use of digital technology with power grids. Integration of the new grid information is one of the key issues in the design of smart grids. Electric utilities now find themselves making three classes of transformations: improvement of infrastructure, called the strong grid in China; addition of the digital layer, which is the essence of the smart grid; and business process transformation, necessary to capitalize on the investments in smart technology. Much of the work that has been going on in electric grid modernization, especially substation and distribution automation, is now included in the general concept of the smart grid.</p>
<br>

<p>The smart grid represents the full suite of current and proposed responses to the challenges of electricity supply. Because of the diverse range of factors there are numerous competing taxonomies and no agreement on a universal definition. Nevertheless, one possible categorisation is given here.</p>

<h3>Reliabiity</h3>
<p>The smart grid will make use of technologies, such as state estimation,[13] that improve fault detection and allow self-healing of the network without the intervention of technicians. This will ensure more reliable supply of electricity, and reduced vulnerability to natural disasters or attack.Although multiple routes are touted as a feature of the smart grid, the old grid also featured multiple routes. Initial power lines in the grid were built using a radial model, later connectivity was guaranteed via multiple routes, referred to as a network structure. However, this created a new problem: if the current flow or related effects across the network exceed the limits of any particular network element, it could fail, and the current would be shunted to other network elements, which eventually may fail also, causing a domino effect. See power outage. A technique to prevent this is load shedding by rolling blackout or voltage reduction (brownout).[citation needed]The economic impact of improved grid reliability and resilience is the subject of a number of studies and can be calculated using a US DOE funded methodology for US locations using at least one calculation tool</p>

<h3>Peak curtailment/leveling and time of use pricing</h3>
<p>To reduce demand during the high cost peak usage periods, communications and metering technologies inform smart devices in the home and business when energy demand is high and track how much electricity is used and when it is used. It also gives utility companies the ability to reduce consumption by communicating to devices directly in order to prevent system overloads. Examples would be a utility reducing the usage of a group of electric vehicle charging stations or shifting temperature set points of air conditioners in a city.[15] To motivate them to cut back use and perform what is called peak curtailment or peak leveling, prices of electricity are increased during high demand periods, and decreased during low demand periods.[7] It is thought that consumers and businesses will tend to consume less during high demand periods if it is possible for consumers and consumer devices to be aware of the high price premium for using electricity at peak periods. This could mean making trade-offs such as cycling on/off air conditioners or running dishwashers at 9 pm instead of 5 pm. When businesses and consumers see a direct economic benefit of using energy at off-peak times, the theory is that they will include energy cost of operation into their consumer device and building construction decisions and hence become more energy efficient. See Time of day metering and demand response.</p>

<p>According to proponents of smart grid plans,[who?] this will reduce the amount of spinning

reserve that atomic utilities have to keep on stand-by, as the load curve will level itself through a 

combination of "invisible hand" free-market capitalism and central control of a large number of 

devices by power management services that pay consumers a portion of the peak power saved 

by turning their device off.</p>