<h1>Responsibilities</h1>
<p>The Ministry of Power is mainly responsible for evolving general policy in the field of energy. The main items of work dealt with by the Ministry of Power are as below:</p>

<ol>
  <li>
      General Policy in the electric power sector and issues relating to energy policy and coordination thereof. (Details of short, medium and long-term policies in terms of formulation, acceptance, implementation and review of such policies, cutting across sectors, fuels, regions and intra country and inter country flows</li>
  <li>
      All matters relating to hydro-electric power (except small/mini/micro hydel projects of and below 25 MW capacity) and thermal power and transmission &amp; distribution system network;</li>
  <li>
      Research, development and technical assistance relating to hydro-electric and thermal power, transmission system network and distribution systems in the States/UTs;</li>
  <li>
      Administration of the Electricity Act, 2003, ( 36 of 2003) , the Energy Conservation Act , 2001 (52 of 2001 ), the Damodar Valley Corporation Act,1948 ( 14 of 1948) and Bhakra Beas Management Board as provided in the Punjab Reorganisation Act,1966 (31 of 1966 ).</li>
  <li>
      All matters relating to Central Electricity Authority, Central Electricity Board and Central Electricity Regulatory Commission;</li>
  <li>
      (a) Rural Electrification;<br>
      (b) Power schemes and issues relating to power supply/development schemes/ programmes/decentralized and distributed generation in the States and Union Territories;</li>
  <li>
      Matters relating to the following Undertakings/Organizations:-
      <ol TYPE="I">
        <li>The Damodar Valley Corporation;</li>
        li{The Bhakra Beas Management Board (except matters relating to irrigation}
        <li>National Thermal Power Corporation Limited;</li>
        <li>National Hydro-electric Power Corporation Limited;</li>
        <li>Rural Electrification Corporation Limited;</li>
        <li>North Eastern Electric Power Corporation Limited;</li>
        <li>Power Grid Corporation of India Limited;</li>
        <li>Power Finance Corporation Limited;</li>
        <li>Tehri Hydro Development Corporation;</li>
        <li>Satluj Jal Vidyut Nigam Ltd.;</li>
        <li>Central Power Research Institute;</li>
        <li>National Power Training Institute;</li>
        <li>Bureau of Energy Efficiency;</li>
      </ol>
  </li>
  <li>All matters concerning energy conservation and energy efficiency pertaining to Power Sector.</li>
</ol>
